* {
    background-color: rgb(241, 253, 255);
}

body {
    display: flex;
    justify-content: center;
    align-content: start;
}


select {
    background-color: blueviolet;
    color: chartreuse
}

option {
    background-color: blueviolet;
}

button {
    background-color: pink;
    color: black;
}

li {
    list-style-type: none;
}

label {
    color: rgb(141, 40, 167);
}

#favUl {
    display: flex;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
}


#fav {
    margin: 1%;
    border: 5px solid rgb(248, 187, 18);
    padding: 1%;
    width: 30%;
    display: flex;
    justify-content: center;
    background-color: rgb(19, 46, 70);
    color: gold;
}

.languageDiv {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

.languageLabel {
    margin: 1% 100% 1% 100%;
}

#languages {
    width: 50%;
    margin: 2%;
}

.formattedLanguage {
    margin: 5%;
}